* {
  margin: 0;
  padding: 0;
  list-style: none;
}

body {
  background: rgba(247, 247, 250, 0.5);
  border-radius: 52px;
  font-family: 'Roboto';
  font-style: normal;
  color: #262837;
}

main {
  width: 100%;
  height: auto;
}
